.prod-img{
    height: 237px!important;
}
.single-prop-img{
    height: 400px;
    width: 400px;
}
.pagination{
padding: 15px;
margin: 15px 0;
display: flex;
justify-content: center;
}
.pagination span {
    padding: 15px 20px;
    border: 1px solid grey;
    cursor: pointer;
}
.pagination_selected{
    background-color: rgb(220,220,220);
}
h5{
    cursor: pointer;
}